/* ==========================================================================
   LAYOUT.SCSS
   - General layout styles
   ========================================================================== */
@import "../main.scss";

.container{
  height:100%;
}

.home-content, .post-content{
  background:$white;
}

.post-content{
  display:grid;
  grid-template-columns: 1fr 85% 1fr;
  grid-auto-rows:auto;
  grid-template-areas:
    ". post-header ."
    ". content ."
    ". post-footer .";
}

/* MEDIA QUERIES */
@media only screen and (min-width : $medium) {
  .home-content, .post-content{
    width:83%;
    margin-left:13%;
  }

  .post-content{
    grid-template-columns: 1fr 75% 1fr;
    padding:1.5em;
  }
}
