.container{
  height:100%;
}

.home-content, .post-content{
  width:83%;
  margin-left:13%;
}

.home-content{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:1.5em;
  padding:1.5em;
}

.post-content{
  display:grid;
  grid-template-columns: 1fr 75% 1fr;
  grid-auto-rows:auto;
  grid-template-areas:
    ". post-header ."
    ". content ."
    ". post-footer .";
  padding:1.5em;
}
